*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
}

.sidebar{
  display: flex;
  position: absolute;
  left: -296px;
  background-color: #222;
  height: 100vh;
  width: 296px;
  transition: 300ms all;
  
}

.show-menu{
  left:0;
}

.main-area{
  display: flex;
  background-color: #999;
  height: 100vh;
  width:100%;
}

.menu-button{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}


@media(min-width:1025px){
  .sidebar{
    position: relative;
    left: 0;
  }

  .main-area{
    width: 100%;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .menu-button{
    display: none;
  }
}
