:root{
    --negro: #222222;
    --blanco: white;
    --grisClaro: #999999;
    --grisOscuro: #494F51;
    --Primary: #0CB093;
    --categories: #333333;
    --rosa: palevioletred;
    --grisFondo: #EFEFEF;
}
:root.dark{
  --negro: #efefef;
  --blanco: black;
  --grisClaro: #494F51;
  --grisOscuro: #999999;
  --Primary: #0CB093;
  --categories: #999999;
  --rosa: palevioletred;
  --grisFondo: #efefef;
}
.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.red-container{
    display: flex;
    height: auto;
    width: 70%;
    position: relative;
    align-items: center;
    gap: 20px;
    background-color: rgb(192, 74, 80);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 50px;
    min-height: 330px;
    margin: 80px 15% 20px 15%;
}
.sad-face{
    width: 200px;
    height: 200px;
}
.msg-container{
    display: flex;
    flex-direction: column;
    background: var(--blanco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px;
    min-height: 200px;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    color: var(--negro);
}
.btn-index:hover{
    background: var(--Primary);
    transition: all 300ms ease;
}

@media (max-width: 850px){
    .red-container{
        display:inline-block;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: auto;
        padding: 20px;
        margin-bottom: 10px;
        
    }
    .sad-face{
        display: flex;
        margin: 0 auto 8px auto;
        width: 150px;
        height: 150px;
        align-items: center;
    }
    .msg-container{
        font-size: 16px;
        padding: 15px;
        min-height: 150px;
        color: var(--rosa);
    }
    .btn-index{
        padding: 12px;
        font-size: 15px;
    }
}

@media (max-width: 414px){
    .sad-face{
        display: flex;
        margin: 0 auto 8px auto;
        width: 120px;
        height: 120px;
        align-items: center;
    }
    .msg-container{
        font-size: 14px;
        padding: 12px;
        min-height: 150px;
        margin: 0;
    }
    .red-container{
        display:inline-block;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: auto;
        padding: 20px;
        margin-bottom: 10px;
    }
    .btn-index{
        padding: 10px;
        font-size: 14px;
    }
}

.msg-container{
    color: var(--negro);
   }