.productListContainer{
    width: 100%;
    height: 100%;
}

/*Header*/
.productHeader{
    z-index: 200;
    margin: 15px;
    width: 100%;
    height: 72px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
}
    .productHeader ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
        .options-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
            .fa-xmark{
                display: none;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
            }
            .searchContainer{
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;

                width: 40px;
                max-width: 80vw;
                height: 30px;

                margin-left: 10px;
                background-color: var(--categories);
                border: 1px solid var(--grisClaro);
                border-radius: 15px;

                transition: all .2s linear;

                cursor: pointer;
            }
                .searchContainer input{
                    display: none;
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    color: var(--blanco);
                    font-weight: 400;
                    text-indent: 10px;
                }
                .searchContainer .searchIcon{
                    cursor: pointer;
                }
                    .searchContainer input:focus{
                        outline: none;
                    }
            .addContainer{
                margin-left: 10px;
                width: 30px;
                height: 30px;
            }
                .addContainer > button{
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 15px;
                    background-color: var(--categories);
                    color: var(--blanco);
                    font-size: 20px;
                    cursor: pointer;
                }
                .addContainer > button > p{
                    display: none;
                }
    
/*spinner*/
.cargandoProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: var(--grisOscuro);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

/*body*/
.productList{
    margin: 15px auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
    .productList > .product{
        width: 100%;
        min-width: 270px;
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        padding: 5px 5px;
        background-color: var(--categories);
        border-radius: 15px;
        color: var(--blanco);
        cursor: pointer;
    }
        .product:hover > figure{
            transform: scale(1.2);
            border: 2px solid var(--negro);
        }
        .product:hover{
            box-shadow: 1px 1px 10px 1px var(--negro);
        }
        .product:hover > button{
            font-size: 27px;
        }
        .product:hover h3{
            font-size: 15.5px;
        }
        .product > figure{
            background-color: var(--blanco);
            border-radius: 15px;
            width: 80px;
            min-width: 80px;
            height: 80px;
            min-height: 80px;

            transition: all .3s linear;
        }
            figure img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                object-fit: contain;
            }
        .product > .productDesc{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
        }
            .productDesc > h3{
                margin-right: 35px;
                font-size: 15px;
                transition: all .2s linear;
            }
            .productDesc > p{
                font-size: 12px;
            }
        .product > button{
            margin-right: 15px;
            background-color: var(--categories);
            border: none;
            position: absolute;
            right: 0;
            font-size: 20px;
            color: var(--blanco);

            transition: all .3s linear;
        }
@media(min-width:1025px){
    /*Header*/
    .productHeader{
        width: 78%;
    }   
        .productHeader .title{
            font-size: 23px;
        }
        .searchContainer{
            transition: none;
            width: 40%;
            cursor: text;
        }
        .searchContainer:hover{
            outline: 2px solid rgba(255, 255, 255, 0.485);
        }
            .searchContainer input{
                display: flex;
                width: 90%;
            }
            .searchContainer .searchIcon{
                cursor: text;
            }
            .addContainer{
                width: fit-content;
                height: fit-content;
            }
                .addContainer > button{
                    padding: 5px 10px;
                    text-align: center;
                    background-color: var(--grisClaro);
                    border-radius: 20px;
                }
                .addContainer > button:hover{
                    background-color: var(--grisClaro);
                }
                .addContainer > button > i{
                    display: none;
                }
                .addContainer > button > p{
                    display: flex;
                    font-size: 15px;
                }
}